<html>
<head>

<link rel="stylesheet" href="static/stylex.css">

</head>
<body onload="change()">

<div id="data">
     HI Buddy No DATA WAS FOUND
</div>

<p id="updating" > Discalmer : PhoneNumber Should be 10 numbers </p>

<div>
   <h1 class="heading"> Backend Order-Form Data</h1>
</div>

<table id="mytable">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>item</th>
            <th>time</th>
            <th>Operations</th>
        </tr>
    </thead>

</table>
<script src="static/filey.js">  </script>
</body>
</html>

