<html>
<head>

<link rel="stylesheet" href="static/stylex.css">

</head>
<body onload="change()">

<div id="data">
     HI Buddy No DATA WAS FOUND
</div>

<p id="updating" > Disclamer : 1) If anything wrong happens please reload the page </p>
<p> 2) Don't update the data 4 or 5 rows at a time </p>



<div>
   <h1 class="heading"> Backend Order-Form Data</h1>
</div>

<table id="mytable">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>item</th>
            <th>time</th>
            <th>Operations</th>
        </tr>
    </thead>

</table>
<script src="static/filey.js">  </script>
</body>
</html>

