<html>
<head>

<link rel="stylesheet" href="static/stylex.css">

</head>
<body onload="change()">

<div id="data">
     HI Buddy No DATA WAS FOUND
</div>

<p id="updating" > Discalmer : PhoneNumber Should be 10 numbers </p>

<div>
   <h1 class="heading"> Backend Contact-Form Data</h1>
</div>

<table id="mytable">
    <thead>
        <tr>
            <th>Id</th>        
            <th>Person</th>
            <th>Place</th>
            <th>PhoneNumber</th>
            <th>Email Address</th>
            <th>Operations</th>
        </tr>
    </thead>

</table>
<script src="static/filex.js"> </script>
</body>
</html>

