<html>
<head>

<link rel="stylesheet" href="static/stylex.css">

</head>
<body onload="change()">

<div id="data">
     HI Buddy No DATA WAS FOUND
</div>

<p id="updating" > Disclamer :1) PhoneNumber must enter 10 numbers while updating the data </p>
<p> 2) If anything wrong happens please reload the page </p>
<p> 3) Don't update the data 4 or 5 rows at a time </p>


<div>
   <h1 class="heading"> Backend Contact-Form Data</h1>
</div>

<table id="mytable">
    <thead>
        <tr>
            <th>Id</th>        
            <th>Person</th>
            <th>Place</th>
            <th>PhoneNumber</th>
            <th>Email Address</th>
            <th>Operations</th>
        </tr>
    </thead>

</table>
<script src="static/filex.js"> </script>
</body>
</html>

