<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function change()
        {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange=function()
            {
                document.getElementById("sampledata1").innerHTML=xmlhttp.responseText;
            }            

            data={
                name:document.getElementById("name").value,
                person:document.getElementById("person").value,
            }

            xmlhttp.open("POST","http://127.0.0.1:8000/api/v3/customerdata/",true);
            xmlhttp.setRequestHeader("Content-type","application/json");
            xmlhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            console.log(JSON.stringify(data));
            xmlhttp.send(JSON.stringify(data));
        }

        function get()
        {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange =function()
            {
                var y=1;
                var x=JSON.parse(xmlhttp.responseText);
                //document.getElementById("sampledata").innerHTML="";
                for(var obj in (x))
                {

                    if(xmlhttp.status==200 && xmlhttp.readyState==4)
                    {
                       // document.getElementById("sampledata").innerHTML+=x[obj].pgname+" &nbsp located in &nbsp "+x[obj].location+"<br>";

                        option = document.createElement("OPTION");
                        option.setAttribute("value",y);
                        option.innerHTML+=x[obj].pgname+"  located in  "+x[obj].location;
                        document.getElementById("person").appendChild(option);
                        y=y+1;
                    }
                    
                }
            }
            xmlhttp.open("GET","http://127.0.0.1:8000/api/v3/pgdata/",true);
            xmlhttp.send();
        }

     /*   
        function postimage()
        {
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange= function()
            {
                document.getElementById("image").innerHTML=xmlhttp.responseText;          
            }
            
            posted={
                fname:document.getElementById("name").value,
                picture:document.getElementById("image1").value.replace('C:\\fakepath\\', "http://127.0.0.1:8000/media/photos/")

            }

            xmlhttp.open("POST","http://127.0.0.1:8000/api/v3/filedata/",true);
            xmlhttp.setRequestHeader("Content-type","application/json");
            xmlhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            console.log(posted);
            xmlhttp.send(JSON.stringify(posted));
        }
        */
        
    </script>
</head>
<body onload="get()">
    <p id="sampledata1"> status data </p>

    name:<input id="name" placeholder=" enter your name">
    <br>
    <br>
    person:<select id="person" placeholder="enter your pg ">
        
        </select>

    <br>
    <br>
    <button onclick="change()"> Post </button>
</body>
</html>

