<html>
<head>
<link rel="stylesheet" href="static/stylex.css">
</head>

<body onload="change()">

<p id="mydelete"> Status</p>

<div id="data">
     HI BUDDY No DATA WAS FOUND
</div>

<div>
   <h1 class="heading"> Backend Image-Form Data</h1>
</div>

<table id="mytable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Operations</th>
        </tr>
    </thead>

</table>

<script src="static/slideimagex.js"> </script>
</body>
</html>

